@using Model.IdentityEntities;
@using Web.Models;
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var alerts = ViewBag.ConmmentViewModel as List<ConmmentViewModel>;
    ViewBag.PageHeader = "Đổi mật khẩu";

}
@model Web.Models.ChangePasswordViewModel
@using BotDetect.Web.Mvc;
@using Web;
@section HeadIncludes {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
}
@{
    var msg = TempData["Msg"];
}
<div class="form-horizontal">
    <div>

        @using (Html.BeginForm("EndUserChangePassword", "Manage", FormMethod.Post, new { id = "EndUserChangePasswordForm", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            <div class="">
                <div class="form-horizontal ">
                    <div class="form-group col-sm-6">
                        <label class="control-label col-sm-4">Mật khẩu cũ <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                    <div class="form-group  col-sm-6">
                        <label class="control-label col-sm-4">Mật khẩu mới <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                    <div class="form-group  col-sm-6">
                        <label class="control-label col-sm-4">Nhập lại mật khẩu mới <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearBoth"></div>

                    @{MvcCaptcha changePasswordUserCaptcha = CaptchaHelper.ChangePasswordUserCaptcha();}

                    @if (!changePasswordUserCaptcha.IsSolved)
                    {

                        <div class="form-group col-sm-6">
                            <label class="control-label col-sm-4" for="CaptchaCode">Nhập mã xác nhận <span style="color:red">*</span></label>

                            <div class="col-sm-8">
                                @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
                                @Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearBoth"></div>
                        <div class="form-group col-sm-6">
                            <div class="col-md-offset-4 col-sm-8">
                                @Html.Captcha(changePasswordUserCaptcha)
                            </div>
                        </div>
                    }
                    <div class="clearBoth"></div>

                    <div class="col-sm-6">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-send"></i> Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
@Scripts.Render("~/Scripts/captcha.validate.js")
<script>
    $(document).ready(function () {
        if ('@msg' == '1') {
            NotiSuccess("Thành công", "Cập nhật thông tin thành công!");
        }
    })
    $("#EndUserChangePasswordForm").submit(function () {
        $("#CaptchaCode").Captcha.ReloadImage();
    })
</script>
