@model Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row nomargin">

    <div class="col-sm-4 col-sm-offset-4 login__admin wrap-login-form">
        <div class="login-form-form">
            <section id="loginForm">
                <div class="loginForm-Box">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2>Quên mật khẩu</h2>
                        @*@Html.ValidationSummary(false)*@
                        <div class="col-sm-12 form-horizontal">
                            <div class="form-group">

                                <label class="col-md-4 control-label">Tài khoản<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Email<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="text-center">
                                @Html.ValidationMessage("AllError", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <input type="submit" value="Nhận lại mật khẩu" class="btn btn-primary btn-block btn-sm" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}