@using Hinet.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row nomargin">
    <div class="col-sm-4 col-sm-offset-4 login__admin wrap-login-form">

        <div class="login-form-form">
            <section id="loginForm">
                <div class="loginForm-Box">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2>ĐĂNG NHẬP</h2>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
                        <div class="col-sm-12 form-horizontal">

                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "control-label col-sm-4" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-4" })
                                <div class="col-sm-8">

                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control " })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                        <span class="checkmark"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="submit" value="Đăng nhập" class="btn btn-primary btn-block btn-sm" />
                                    <p class=" grouplogin-checkbox">
                                        @Html.ActionLink("Đăng ký tài khoản", "RegisterPersonal", "Account")
                                    </p>
                                    @* Enable this once you have account confirmation enabled for password reset functionality*@
                                    <p>
                                        @Html.ActionLink("Quên mật khẩu", "ForgotPassword")
                                    </p>
                                </div>

                            </div>
                        </div>


                    }
                </div>
            </section>
        </div>


    </div>
    <div class="col-md-4">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}