@model Web.Models.RegisterPersonalModel
@{
    ViewBag.Title = "Đăng ký tài khoản cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BotDetect.Web.Mvc;
@using Web;
@section HeadIncludes {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
}
<div class=" container">
    <div class="row">
        <div class="col-sm-12">
            <div id="FormDangKy">


                <div class="col-sm-12 report">
                    <div class="title">
                        <h1>Đăng ký mở tài khoản</h1>
                        <h4>* * *</h4>
                    </div>
                    <div class="register">

                        <div class="row registerChooseBox">
                            <a class="registerItem active" href="/Account/RegisterPersonal" title="Đăng ký tài khoản cho cá nhân">
                                <img src="~/Content/EndUser/img/Op-User.png" />
                                <div class="labelLink">Cá nhân</div>
                            </a>
                            <a class="registerItem " href="/Account/RegisterCompany" title="Đăng ký tài khoản cho thương nhân">
                                <img src="~/Content/EndUser/img/Op-Company.png" />
                                <div class="labelLink">Thương nhân</div>
                                <i>(Tập đoàn, Tổng công ty, Công ty, Hộ kinh doanh…)</i>
                            </a>
                            <a class="registerItem" href="/Account/RegisterOrganization" title="Đăng ký tài khoản cho tổ chức">
                                <img src="~/Content/EndUser/img/Op-Organization.png" />
                                <div class="labelLink">Tổ chức</div>
                                <i>(Cơ quan hành chính sự nghiệp, hiệp hội, đơn vị…)</i>
                            </a>
                        </div>
                        <div id="boxRegisterForm">
                            <div class="row form">
                                <div class="col-sm-12">


                                    @using (Html.BeginForm("RegisterPersonal", "Account", FormMethod.Post, new { id = "RegisterPersonalForm", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken();
                                        <div class="formBox">
                                            <div class="fieldset-title">
                                                Đăng ký tài khoản cá nhân
                                            </div>
                                            <div class="form-horizontal ">
                                                <div class="text-center">
                                                </div>
                                                &nbsp; &nbsp;<span style="color:red">(*)</span> Thông tin bắt buộc phải nhập
                                                <div class="boxFormHeader">
                                                    <span class="formHeader">1.Thông tin cá nhân</span>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Họ và tên</label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.HoTen, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Mã số thuế cá nhân</label>
                                                    <div class="col-sm-6">

                                                        @Html.TextBoxFor(m => m.MaSoThue, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.MaSoThue, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4">Ngày sinh</label>
                                                    <div class="col-sm-6">
                                                        @Html.DatePickerFor(m => m.NgaySinh, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                                                        @Html.ValidationMessageFor(m => m.NgaySinh, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>

                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Số CMND/CCCD</label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBoxFor(m => m.CMND, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.CMND, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4">Ảnh CMND</label>
                                                    <div class="col-sm-6">
                                                        <input type="file" name="FileAttach" id="FileAttach" class="form-control" onchange='CheckFileUpload(this,1048576,".png,.jpg,.jpeg")' multiple accept="image/*" />
                                                        <p class="messageNote">Đăng tải ảnh nếu sử dụng CMND để đăng ký tài khoản</p>
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Ngày cấp</label>
                                                    <div class="col-sm-6">
                                                        @Html.DatePickerFor(m => m.NgayCapCMND, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                                                        @Html.ValidationMessageFor(m => m.NgayCapCMND, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Nơi cấp</label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBoxFor(m => m.NoiCap, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.NoiCap, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Điện thoại</label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBoxFor(m => m.DienThoai, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.DienThoai, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Địa điểm kinh doanh</label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.DiaChi, "", new { @class = "text-danger" })
                                                        <p class="messageNote">Ví dụ: 25 Ngô Quyền, Phường Tràng Tiền, Hoàn Kiếm, Hà Nội</p>
                                                    </div>
                                                </div>

                                                <div class="form-group  col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Quốc gia</label>
                                                    <div class="col-sm-6">
                                                        @Html.DropDownListFor(m => m.CodeQuocGia, Model.dropdownListQuocGia, "--Chọn quốc gia--", new { @class = "required form-control select2Box" })
                                                        @Html.ValidationMessageFor(m => m.CodeQuocGia, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="form-group  col-sm-12 " data-diachinh="1">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Tỉnh/Thành phố</label>
                                                    <div class="col-sm-6">
                                                        @Html.DropDownListFor(m => m.TinhId, Model.dropdownListTinh, "--Chọn tỉnh thành--", new { @class = "required form-control select2Box" })
                                                        @Html.ValidationMessageFor(m => m.TinhId, "", new { @class = "text-danger" })
                                                        <p class="messageNote">Hãy chọn theo thứ tự Tỉnh -> Huyện -> Xã</p>
                                                    </div>
                                                </div>
                                                <div class="form-group  col-sm-12 " data-diachinh="1">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Quận/Huyện</label>
                                                    <div class="col-sm-6">
                                                        @Html.DropDownListFor(m => m.HuyenId, Model.dropdownListHuyen, "--Chọn tỉnh thành--", new { @class = "required form-control" })
                                                        @Html.ValidationMessageFor(m => m.HuyenId, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="form-group  col-sm-12 " data-diachinh="1">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Xã/Phường</label>
                                                    <div class="col-sm-6">
                                                        @Html.DropDownListFor(m => m.XaId, Model.dropdownListXa, "--Chọn tỉnh thành--", new { @class = "required form-control" })
                                                        @Html.ValidationMessageFor(m => m.XaId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="boxFormHeader">
                                                    <span class="formHeader">2.Thông tin đăng nhập</span>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4">Tài khoản</label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required", autocomplete = "off", @readonly = true, disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                                        <p class="messageNote">Tài khoản tự động lấy theo Mã số thuế cá nhân</p>
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>

                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Mật khẩu</label>
                                                    <div class="col-sm-6">
                                                        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.PassWord, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Nhập lại mật khẩu</label>
                                                    <div class="col-sm-6">
                                                        @Html.PasswordFor(m => m.RePassWord, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.RePassWord, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="clearBoth"></div>
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4"><span style="color:red">*</span>&nbsp;Email </label>
                                                    <div class="col-sm-6">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control required" })
                                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                        <p class="messageNote">E-mail này được dùng để nhận mọi thông tin phản hồi từ Bộ Công Thương</p>
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                @{MvcCaptcha registrationCaptcha = CaptchaHelper.GetRegistrationCaptcha(); }
                                                <div class="form-group col-sm-12">
                                                    <label class="control-label col-sm-4" for="CaptchaCode"><span style="color:red">*</span>&nbsp;Nhập mã xác nhận </label>

                                                    <div class="col-sm-6">
                                                        @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
                                                        @Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-md-offset-4 col-sm-6">
                                                        @Html.Captcha(registrationCaptcha)
                                                    </div>
                                                </div>
                                                <div class="clearBoth"></div>
                                                <div class="col-sm-12">
                                                    <center>
                                                        <button type="reset" name="reset" class="btn btn-default btn-md "><i class="glyphicon glyphicon-refresh"></i> Làm lại</button>
                                                        <button type="submit" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-send"></i> Đăng ký</button>
                                                    </center>

                                                </div>
                                                <div class="clearBoth" style="margin-bottom:30px;"></div>
                                            </div>
                                        </div>

                                    }

                                </div>

                            </div>



                        </div>
                        <div class="clearBoth"></div>


                        <div class="notice col-sm-12">
                            <p>Gửi phản ánh bằng văn bản tới Cục Thương mại điện tử và Công nghệ thông tin, Bộ Công Thương</p>
                            <p>Địa chỉ: Số 25 Ngô Quyền, Hoàn Kiếm, Hà Nội; hoặc qua thư điện tử qltmdt@moit.gov.vn</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/captcha.validate.js")

    <script>
      
        $("#RegisterPersonalForm").submit(function () {
            $("#CaptchaCode").Captcha.ReloadImage();
        })

        $("#MaSoThue").keyup(function () {
            var data = $(this).val();
            $("#UserName").val(data);
        })

        $("input").prop("autocomplete", "off")
        if ('@Model.CodeQuocGia'!='VN') {
            $("div[data-diachinh=1]").hide();
        }

        $("#TinhId").on("change",function () {
            var type = $(this).val();
            renderDropdownList('/Account/GetHuyenDropdownOfTinh/' + type, 'HuyenId', '--Chọn Quận/Huyện--');
            $('#HuyenId').val('').change();
        });

        $("#HuyenId").on("change",function () {
            var type = $(this).val();
            renderDropdownList('/Account/GetXaDropdownOfHuyen/' + type, 'XaId', '--Chọn Xã/Phường--');
            $('#XaId').val('').change();
        });
        $("#CodeQuocGia").on("change",function () {
            var type = $(this).val();
            if (type == 'VN') {
                $("div[data-diachinh=1]").show();
            } else {
                $("div[data-diachinh=1]").hide();
            }
        });
        
        (function renderHuyenXa() {
            $("div[data-diachinh=1]").show();
        }());

        $(".select2Box").select2();
        $("#XaId").select2();
        $("#HuyenId").select2();
    </script>
    @*<script>
            $("#chooseObjectRegister").change(function () {
                var type = $(this).val();
                $.ajax({
                    url: '/account/GFormRegister/' + type,
                    type: 'post',
                    success: function (rs) {
                        $("#boxRegisterForm").html(rs);
                    },
                    error: function (e) {
                        NotiError("Lỗi xử lý");
                    }
                });
            });
        </script>
        @Scripts.Render("~/bundles/jqueryval")*@

}


