@model Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Tạo mật khẩu mới";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@Html.Partial("_QuyTrinhNghiepVuPartial")

<div class="row nomargin">
    <div class="col-sm-offset-3 col-sm-5 col-md-offset-2 col-md-8 login__admin wrap-login-form pd0">

        <div class="col-md-12 login-form-form">
            <section >
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2 class="text-center">TẠO MẬT KHẨU MỚI</h2>
                    <hr />
                    <div class="text-center">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                    
                    @Html.HiddenFor(model => model.Code)
                    <div class="col-sm-12 form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tài khoản<span class="red">*</span></label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Mật khẩu<span class="red">*</span></label>
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            
                            <label class="col-sm-4 control-label">Xác nhận mật khẩu<span class="red">*</span></label>

                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" class="btn btn-primary" value="Đổi mật khẩu" />
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
