@using Model.IdentityEntities
@using Web.Areas.UserArea.Models
@using Newtonsoft.Json;
@model EditVM
@{
    var listVaiTro = ViewBag.ListVaiTro as List<SelectListItem>;
    var listDonVi = ViewBag.ListDonVi as List<SelectListItem>;
    var listHoiDong = ViewBag.TypeHoiDong as List<SelectListItem>;
}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "User", new { @area = "UserArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật thông tin người dùng</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type='hidden' name='Id' value='@Model.Id' />
                    <div class="form-group">
                        <label class="control-label col-sm-4">Tên đăng nhập <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Họ tên <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Email <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Điện thoại </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>&nbsp;Lưu
                </button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times"></i>&nbsp;Đóng
                </button>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#editForm .select2").select2();
    })

    var onDeleteAvatar = function () {
        $('#block--edit-avatar').removeClass('hide');
        $('#block--info-avatar').addClass('hide');
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
