@using Model.IdentityEntities
@using Model.Entities
@using Web.Areas.SystemEntityArea.Models

@model CreateVM
@{
    var dropdownListEnvironmentEntityId = ViewBag.dropdownListEnvironmentEntityId as List<SelectListItem>;

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "SystemEntity", new { @area = "SystemEntityArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createSystemEntityForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới System</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Environment <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.EnvironmentId, dropdownListEnvironmentEntityId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EnvironmentId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Tên <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Mô tả </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Thứ tự </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ThuTu, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ThuTu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>

    $("#EnvironmentId").select2();



</script>
@Scripts.Render("~/bundles/jqueryval")
