
@model Web.Models.LoginViewModel
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" id="modal_login">
        <div class="modal-content">
            <div class="modal-header" style="padding: 15px; border-bottom: 1px solid #ffc107; min-height: 16.43px; background: #01c8cc; border-radius: 5px 5px 0px 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title" id="exampleModalLabel" style="font-family: HelBold; font-size: 22px; text-transform: uppercase; text-align: center;"><center>Đăng nhập</center></h4>
            </div>

            <div class="modal-body">
                @using (Ajax.BeginForm("LoginFE", "AccountAdmin", new { @area = "" }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    OnFailure = "AjaxFormError",
                    OnSuccess = "popUpLoginSuccess",
                }, new { id = "form--login-popup", @class = "session form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <center>
                        <input type="submit" value="Đăng nhập" class="btn btn-success" id="LoginBtn" style="margin-bottom: 15px;" />
                    </center>
                    <div>
                        <center>
                            <a href="javascript:void(0)" onclick="removeclassQuenPass()" data-toggle="modal" data-target="#QuenPass" title="Quên mật khẩu"> Quên mật khẩu</a>

                            @*<a href="/AccountAdmin/LayMatKhauUser" style="color:#fff">
                                    Lấy lại mật khẩu
                                </a>*@
                        </center>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    var popUpLoginSuccess = function (result) {
        if (!result.Status) {
            NotiError("Lỗi đăng nhập", "Thông tin đăng nhập sai");
        } else {
            NotiSuccess("Thông báo", "Đăng nhập thành công");
            setTimeout(function () {
                location.href = '/DashboardArea/Dashboard/Index'
            }, 500)
        }
    }
</script>